#view{
	-fx-background-image: url("/image/fondo.gif");
	-fx-background-color: #afcfdc;
	-fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-font-family: "/assets/PressStart2P-Regular.ttf";
}

#titulo{
	-fx-font-family: "/assets/PressStart2P-Regular.ttf";
	-fx-font-size: 51px;
}

.button{
	 -fx-background-color: transparent;
}

#backButton {
	 -fx-background-color: #3887a8;
	 -fx-text-fill:white;
	
}